<div class="page-header"><h1>Welcome to the Marketplace!</h1></div>
<%= render 'products/index' %>
<%= content_for :seller_links do %>
  <% if current_seller %>
    <p><%= link_to 'My profile', seller_path(current_seller) %></p>
  <% end %>
<% end %>
